
/* PROPIEDADES DE TODOS */
/* BODY */
.mibody{
    font-family: 'Gugi', cursive;
    background-color:#fef6e4;
    color:#001858;
    min-height: 100vh;
    position: relative;
    padding-bottom:2em;

} 
/* TITULOS PAGINA PRINCIPAL */
.tituloindex{
    font-size: 125px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 10px grey; 
}
/* TITULOS SUBPAGINAS */
.tituloimagen{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
.titulo{
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 10px grey;
    color:#001858; 
}
.imgtitulo{
    height: 100px;
    width: 100px;
}
/* VOLVER*/
.volver{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 10px grey; 
    color:#001858;
}
.iconvolver{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin-left: 60px;
    margin-bottom: 10px;
}
.volver a:hover{
    color: #f582ae;
}
/* FOOTER */
.footer {
    width: 100%;
    padding: 1em 0;
    padding-top: 0px;
    text-align: center;
    position: absolute;
    bottom: 0px;

    

}
.footer p {
    color:#001858;
}
/* LINKS */
.link{
    color:#001858;
    text-decoration: none;  
}
/* FIN PROPIEDADES DE TODOS */

/* PROPIEDADE DE INDEX */
/* CONTENEDOR DE LA NAVBAR */
.contenedornavbar{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
/* NAVBAR ORDEN */
.navbarindex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    
}
/* ICONO DE LA NAVBAR */
.icononavbar{
    height: 50px;
    width: 50px;
}
/* ICONO TEXTO DE LA NAVBAR */
.iconotexto{
    padding: 0px 100px;
    text-align: center;
    text-shadow: 0px 0px 10px grey; 
}

.iconotexto a:hover{
    color:#f582ae;
}

/* TAMAÑO SECCION EN INDEX CONTIENE IMAGEN Y UBI */
.indexseccion{
    padding-top:50px;
    padding-bottom:100px;
    padding-left: 200px;
    padding-right: 200px;
}
/* IMAGEN DE LA SECCION INDEX */
.imagenseccionindex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenindex{
    width:300px;
    height:300px;
    border-radius:150px;
    margin-bottom: 25px;
    border : 5px solid #f582ae;
    box-shadow: 0px 0px 15px 1px #000;
    

}
/* ICONO Y TEXTO DE UBICACION  DE LA SECCION INDEX */
.ubiseccionindex{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 10px grey; 
}
.ubiseccionindex a:hover{
    color:#f582ae;
}
/* FIN PROPIEDADE DE INDEX */


/* PROPIEDADE DE CONTACTO */ 
/* TAMAÑO DE LOS ICONOS */
.icon{
    height: 100px;
    width: 100px;
    margin: 20px 20px;
     
}
/* UBICACION DE LOS ICONOS COLUMNAS */
.iconos{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-inline: 650px;
    background-color: #f3d2c1;
    border-radius:10px;
    box-shadow: 0px 0px 15px 1px #000;  
    margin-top: 20px;
    margin-bottom: 50px;  
}

/* UBICACION DE LOS ICONOS FILAS */
.filascontactos{
    marging: 10px;
}
/* FIN PROPIEDADE DE CONTACTO */

/* PROPIEDADE DE EMAIL */ /* FIN PROPIEDADE DE EMAIL */
/* FORMATO FOMULARIO */
.miform{
    width: 800px;
    margin: auto;
    background: #8bd3dd;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 1px #000;
}
/* FORMATO DE LOS INPUTS */
.inp{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background-color:aliceblue;
    border-radius:10px;
    border: none;
    box-shadow: 0px 0px 10px 1px #000;
    outline: none;
    color:#001858;
}
/* FORMATO DEL TEXTAREA */
.texta{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    background-color:aliceblue;
    border-radius:10px;
    border: none;
    box-shadow: 0px 0px 10px 1px #000;
    outline: none;
    color:#001858;
}
/* FORMATO DEL BOTON */
.botomform{
    font-family: 'Gugi', cursive;
    background-color: #f582ae;
    font-size: 14px;
    border-radius: 10px;
    padding: 20px 40px;
    width: 80%;
    border: none;
    box-shadow: 0px 0px 10px 1px #000;
    color:#001858;
    
}
#boton:hover{
    cursor: pointer;
}
/* FIN PROPIEDADE DE EMAIL */

/* PROPIEDADE DE SOBRE MI *//* FIN PROPIEDADE DE SOBRE MI */
/*FORMATO CONTENEDOR DE INFO*/
.infosobremi{
    margin-left: 200px;
    margin-right: 200px;
}
/*FORMATO DE LA BARRA*/
.wrap{
	max-width: 100%;
	margin: 30px auto;
}
/*FORMATO DE LA LISTA DE LA BARRA*/
ul.tabs{
    width: 100%;
    background: #8bd3dd;
    list-style: none;
    display:flex;
    padding-left: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px #000;
}
/*FORMATO DE LOS ELEMENTOS DE LA LISTA DE LA BARRA*/
ul.tabs li a{
	color:#001858;
	text-decoration: none;
	font-size: 20px;
    text-align: center;
    font-family: 'Gugi', cursive;
	display: block;
	padding: 20px 20px;
    border-radius: 10px;
    height: 100%;
}
/* TITULO ARTICULO */
article h1{
    font-weight: bold;
}
/* COLOR DEL LINK */
.proexp a:hover{
    color: #f582ae;
}


/*CLASE ACTIVA PARA QUE SALGA EN ESE COLOR CUAL ESTA ACTIVA EN LA BARRA*/
.active{
	background: #f582ae;
    box-shadow: 0px 0px 10px 0px #000;
}


ul.tabs li a .tab-text{
	margin-left: 0px;
}

/*FORMATO DE LAS SECCIONES DEL TEXTO*/
.secciones{
	width: 100%;
	background:#f3d2c1;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px #000;
}
.secciones article{
	padding: 25px;
}
.secciones article p{
	text-align: justify;
}


/*BARRA DE PORSENTAJE*/
.barra{
    width: 100%;
    border: none;
    height: 15px;
    
}

.fondobarra{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color:#fef6e4;
}
.progresobarrae{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color:#f582ae;

}
.progresobarrai{
    width: 50%;
    height: 15px;
    border-radius: 10px;
    background-color:#f582ae;

}



/*RESPONSIVE NAVBAR INDEX*/
@media (max-width: 1400px){
	.navbarindex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 50px;
    }
}
@media (max-width: 902px){
	.navbarindex{
        display: flex;
        flex-direction: unset;
        justify-content: center;
        font-size: 50px;
    }
}

/*RESPONSIVE TABLA DE SOBRE MI*/
@media (max-width: 1120px){
	ul.tabs{
        width: 100%;
        background: #8bd3dd;
        list-style: none;
        display: grid;
        padding-left: 0;
        border-radius: 10px;
    }
}



