/*Propiedades del body*/
.mibody{
    font-family: 'Gugi', cursive;
    background-color:#D6EAF8;
    background-image: url(../Imagenes/pintura6.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
 
}
/*Propiedades del titulo*/
.titulo{
    font-size: 125px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
/*Navegacion*/
/*Orden de la navegacion*/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 50px;
}
/*Cambiar el color cuando pasa el mouse por el link*/
.navbar a:hover{
    color: crimson ;
}
/*Contenedor de la navbar*/
.contenedor{
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}
/*Propiedades del link*/
.link{
    color: #000;
    text-decoration: none;
}
/*Propiedades del icono de la navbar*/
.icononavbar{
    height: 50px;
    width: 50px;
}
/*Margen icono link*/
.iconotexto a { 
    padding-left: 15px;
}
/*Propiedades ubicacion*/
.fila{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
.fila a:hover{
    color: crimson ;
}
.imagenmia{
    width:300px;
    height:300px;
    border-radius:150px;
    margin-bottom: 50px;
}
/*Propiedades seccion*/
section{
    padding-top: 50px;
    padding-bottom:100px;
}
/*Propiedades footer*/
.mifooter{
    text-align: center;
}



























