.mibody{
    font-family: 'Gugi', cursive;
    background-color:#D6EAF8;
    background-image: url(../Imagenes/pintura7.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}
/*Propiedades tituloimagen*/
.tituloimagen{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
.imgcontacto{
    margin-top: 50px;
    margin-left: 50px;
    height: 100px;
    width: 100px;
}
.titulo{
    font-size: 100px;
    text-align: left;
    margin-top: 50px;
    font-weight: bold;
}
/*Propiedades seccion*/
section{
    padding-top:50px;
    padding-bottom:100px;
    padding-left: 300px;
    padding-right: 300px;
}
/*Propiedades iconos*/
.filas{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.icon{
    height: 100px;
    width: 100px;
    padding: 20px;
}

.link{
    color: #000;
    text-decoration: none;
}
.volver a:hover{
    color: aqua;
}
.botonenviar{
    position: center;

}
.miform{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}
.inp{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.tex{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton:hover{
    cursor: pointer;
}

/*Propiedades footer*/
.mifooter{
    text-align: center;
}

